html{
    background-color: #898989;
}
body{
    color: black;
    background-color: #c9a0ea;
}

h1{
    background-color: hsl(273, 55%, 46%);
    color: white;
    font-size: 2.5em;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}
h2{
    background-color: #6833ff;
    color: white;
    font-size: large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
p > h2{
    padding: 5px 0px 10px 5px;
}
