/*
Name: Julian Smith
Date: May 02 2020
Assignment: M02: Project V1 - Basic HTML and CSS
The purpose of this assignment was to creat the first version of our websites.
*/
@charset "utf-8";

html{
    background-color: #898989;
}
body{
    color: black;
    background-color: #c9a0ea;
}

h1{
    background-color: hsl(273, 55%, 46%);
    color: white;
    font-size: 3.5em;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}
h2{
    background-color: #6833ff;
    color: white;
    font-size: large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
h3{
    background-color: #ee5ffc;
    color: white;
    font-size: medium;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-left: 25px;
}
p > h2{
    padding: 5px 0px 10px 5px;
}
nav a{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 10px 0px 10px 20px;
}
nav > ul > li a:link, nav > ul > a:visited{
    color: blueviolet;
    text-decoration: none;
}
nav > ul > li a:hover, nav > ul > a:active{
    color: rgb(17, 1, 112);
    text-decoration: underline;
}
article{
    border: midnightblue;
    background-color: orchid;
}